/* Header
------------------------------------------------------------*/
.c-header {
    position: absolute;
    width: 100%;
    z-index: 9999;

    .c-header__body {
        display: flex;
        flex-direction: column;
    }

    .c-header__top {
        align-self: flex-end;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .c-header__linktxt {
        font-family: $main-fonts;
        font-size: 1.4rem;
        font-weight: 400;
        letter-spacing: 0;
        color: rgb(254, 254, 254);
        line-height: 1.429;
        padding-right: 9px;
        font-feature-settings: "palt";
    }

    .c-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(255, 255, 255);
        height: 91px;
    }

    .c-nav__left {
        margin-left: 21px;
    }

    .c-nav__right {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .c-nav__list {
        display: flex;
        align-items: center;
        height: 91px;
        margin-right: 22px;

    }

    .c-nav__item {
        height: 100%;

        &:hover {
            background-color: rgb(0, 173, 160);

            .c-nav__itemtxt {
                color: rgb(255, 255, 255);
            }
        }
    }

    .c-nav__itemlink {
        padding: 0 22px;
        height: 100%;
        display: flex;
        align-items: center;
    }

    .c-nav__itemtxt {
        font-size: 1.6rem;
        font-family: $main-fonts;
        color: rgb(0, 0, 0);
        line-height: 1.25;
        font-weight: 700;
    }

    .c-nav__btn {
        width: 172px;
        height: 91px;
        background-color: rgb(0, 173, 160);
        
    }

    .c-nav__btnlink {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .c-nav__btntext {
        font-family: $main-fonts;
        font-size: 1.6rem;
        color: rgb(255, 255, 255);
        font-weight: 700;
        line-height: 1.25;
    }
}

/* Main menu
------------------------------------------------------------*/
